body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.contenedor {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #ff2e93;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e60073;
}

#resultado {
  margin-top: 20px;
  color: #ffb3d9;
}